/* Elimina el margen predeterminado de la barra de navegación y los bordes redondeados */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
/* He fijado la altura de la rejilla .sidenav puede ser el 100% (habrá que ajustarlo según lo necesitemos) */
.row.content {
    height: 450px
}
/* Establecer el color de fondo gris y 100% de altura */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}
/* Color de fondo negro, texto blanco y un poco de relleno para el footer */
footer {
    background-color: #000000; /*#555*/
    color: white;
    padding: 15px;
}
    
/* En pantallas pequeñas, ajusta la altura a 'auto' para sidenav y grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height:auto;
    }
    .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:100px;
        max-height: 150px;
    }
}

.google-maps {
    position: relative;
    padding-bottom: 75%; /* This is the aspect ratio*/
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 60% !important;
}
.carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:300px;
  }
.imgr{
    width: 50%;
    height: auto;
    text-align: center;
}
span{ 
    font-weight: bold;
    font-family: cursive;
}
p{
    text-align: left;
    font-family: cursive;
}
h4{
    text-align: left;
    font-family: cursive;
}

h1{
    font-family: cursive;
}

@font-face {
    font-family: 'Rancho', cursive;
    src: url(Css/font/Rancho-Regular.ttf);
}